.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

img {
    max-width: 100%;
}

header {
    background: black;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

.header_banner {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    position: absolute;
    margin-top: 15px;
}

.header__inscription {
    font-family: 'Bad Script', cursive;
    color: #ff0000;
    font-size: 36px;
    text-align: center;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header__link{
    font-family: 'Raleway', cursive;
    color: #FFF;
    font-size: 24px;
    line-height: normal;
    padding: 10px 34px;
    text-decoration: none;
}

main {
    background: #2E3234;
    overflow-x: hidden;
    align-items: center;
}

.top {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 113px;
    color: red;
    text-align: center;
}

.top__content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.top__text {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: white;
}

.top__image {
    width: 60%;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
    color: red;
    text-align: center;
}

.about {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2E3234;
}

.about__text_and_picture {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.about__img__main {
    width: 50%;
}

.link_in_text {
    color: red;
    text-decoration: none;
}

@media (max-width: 1440px) {
    
    .center {
        padding-left: calc(50% - 540px);
        padding-right: calc(50% - 540px);
    }

    .header__inscription {
        font-size: 32px;
    }
    
    .header__link{
        font-size: 20px;
        padding: 10px 30px;
    }

}

@media (max-width: 1024px) {

    
    .center {
        padding-left: calc(50% - 450px);
        padding-right: calc(50% - 450px);
    }

    .header__inscription {
        font-size: 32px;
    }
    
    .header__link{
        font-size: 18px;
        padding: 10px 10px;
    }

    .title {
        font-size: 50px;
        line-height: 93px;
    }

    .top__text {
        font-size: 24px;
    }

    .heading {
        font-size: 35px;
        line-height: 60px;
    }

    .about__img__main {
        width: 80%;
    }

    .about__text_and_picture__main {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 30px;
    }
    
    .about__img {
        width: 40%;
    }

    .about__text {
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    .center {
        padding-left: calc(50% - 350px);
        padding-right: calc(50% - 350px);
    }

    .header__inscription {
        font-size: 20px;
    }
    

    .header__link {
        font-size: 18px;
        padding: 10px 10px;
        
    }
    
    .top__text {
        font-size: 18px;
    }

    .about__text {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .center {
        padding-left: 5%;
        padding-right: 5%;
    }

    header {
        background: black;
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: flex-end;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header__link {
        font-size: 18px;
        padding: 10px 10px;
        
    }

    .top__image {
        width: 100%;
    }

    .about__img__main {
        width: 100%;
    }

    .top__content {
        padding-top: 5px;
        padding-bottom: 5px;
        flex-wrap: wrap;
        gap: 10px;
    }

    .title {
        font-size: 35px;
        line-height: 63px;
    }

    .heading {
        font-size: 25px;
        line-height: 40px;
    }

    .top__text {
        font-size: 16px;
    }

    .about__text {
        font-size: 12px;
    }

    .about__img {
        width: 50%;
    }

    .about__text_and_picture_main {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
}
}